<div ng-include="'components/navbar/navbar.html'"></div>


    <header class="hero-unit colorchanger" id="banner">
        <div class="container ">
            <h1>The Best GPA Calculator</h1>
            <p class="lead"> The best way to calculate GPA is in Software Development. <br /><small>Designed by MO</small></p>
        </div>
    </header>

    <hr />
    <table class = "table">
        <tr class = "fix">
            <th>Course Name</th>
            <th>Credits</th>
            <th>Grade</th>
            <th>GPA Point</th>
        </tr>
        <!--Inputs for the name, and credits, selector for the grade.-->
        <tr ng-repeat="item in classes">
            <td><input type="text" ng-model="item.name"class="name"></td>
            <td><input type="number" class="grade" min="0" max ="10" ng-model="item.credit" ng-click="total()"></td>
            <td><select type="text" ng-model="item.grade" ng-options="gpa.grade for gpa in grades" ng-click="total()" ></select></td>
            <td>{{item.grade.value.toFixed(3)}}</td>
            <td>[<a href ng-click="removeClass($index); total()">X</a>]</td>
        </tr>
        <tr>
            <td>Total Credits:</td>
            <td>{{returnCred}}</td>
            <td><b>GPA</b></td>
            <td>{{gpa}}</td>
        </tr>
    </table>
    <hr />
    <p>
        <button type="button" class="btn btn-primary btn-sm glyphicon glyphicon-plus" ng-click="addClass()"> Add Course</button>
        <button type="button" class="btn btn-primary btn-sm glyphicon glyphicon-plus" ng-click="saveClass()">Save Classes</button>
    </p>
