.form-control {
    margin-bottom: 5px;
    background-color: lightgray;
    color: white;

}
body{
    background-color: #FFFCFC;
    font-family: "Bookman", Georgia, "Times New Roman", serif;
}
.hero-unit{
    background-color: darkred;
}
.btn-primary{
    background-color: darkred;

}
